<section class="UsersNew">

  <p class="UserTitle">Create account</p>

  <%= form_with url: users_path do |form| %>
    <div class="form-section">
        <%= form.text_field :first_name, class: "form-input",placeholder: "First name"%>
    </div>
    <div class="form-section">
        <%= form.text_field :last_name, class: "form-input",placeholder: "Last name" %>
    </div>
    <div class="form-section">
        <%= form.email_field :email, class: "form-input",placeholder: "Email" %>
    </div>
    <div class="form-section">
        <%= form.password_field :password, class: "form-input",placeholder: "Password" %>
    </div>
    <div class="form-section">
        <%= form.submit "sign up", class: "form-submit" %>
    </div>
  <% end %>
</section>
