<section class="TodoSection">
  <div class="TodoSectionTitle">
      <p class="TodoSectionTitle-text"><%=  section_title %></p>
      <p class="TodoSectionTitle-remaining"><%= todos.completed.count %>/<%= todos.count  %></p>
  </div>

  <ul>
    <% todos.all.each do |todo| %>
      <li class="TodoItem">
          <%= form_with(url:"/todos/#{todo.id}", method: "PUT") do  %>
             <%= check_box_tag("completed",
                                nil,
                                todo.completed ? true : false,
                                class: "TodoItemCheckBox",
                                :onclick=>"this.form.submit()"
                              )
             %>
          <% end %>
          <p class="TodoSection-todo" style='<%= todo.completed ? "text-decoration:line-through" : ""%>'>
             <%= todo.todo_text %>
          </p>
          <% if  show_date%>
             <p class="todo_Date"><%= todo.due_date.to_s(:short) %></p>
          <% end %>

          <a href="#" class="DeleteTodo">
             <%= form_with(url: "/todos/#{todo.id}", method: "DELETE") do %>
                <%= image_submit_tag("delete.png",
                                      class:"deleteTodoImage",
                                      :onclick=>"this.form.submit()"
                                    )
                %>
             <% end %>
          </a>
      </li>
    <% end %>
  </ul>
</section>
