<article class="TodoPageMain">
  <div class="TodoContainer">
     <h1 class="TodoPage-title">My Todo-list</h1>
     <%= link_to "Show all","/todos/id",class:"ShowAllTodos"%>
  </div>
  <%= form_with(url: "/todos", method: "POST", class: "AddTodo" ) do  %>
    <%= text_field_tag("todo_text",nil,class: "TodoText",placeholder: "what's next?")%>
    <%= date_field_tag("due_date",nil,class:"TodoDate") %>
    <%= button_tag("Add",type: "submit",class:"Add")%>
  <% end %>
  <%= render partial: "todos_section", locals: { section_title: "Overdue",
                                                 todos: @todos.overdue.not_completed,
                                                 show_date: true} %>
  <%= render partial: "todos_section", locals: { section_title: "Due Today",
                                                 todos: @todos.due_today,
                                                 show_date: false} %>
  <%= render partial: "todos_section", locals: { section_title: "Due Later",
                                                 todos: @todos.due_later,
                                                 show_date: true}  %>
</article>
